## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = './data/'

In [4]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [5]:
(row,col)=app_train.shape
print("Row=",row,"Column=",col)

Row= 307511 Column= 122

#### 列出所有欄位

In [6]:
for field in app_train.axes[1]:
    print(field,",",end='')

SK_ID_CURR ,TARGET ,NAME_CONTRACT_TYPE ,CODE_GENDER ,FLAG_OWN_CAR ,FLAG_OWN_REALTY ,CNT_CHILDREN ,AMT_INCOME_TOTAL ,AMT_CREDIT ,AMT_ANNUITY ,AMT_GOODS_PRICE ,NAME_TYPE_SUITE ,NAME_INCOME_TYPE ,NAME_EDUCATION_TYPE ,NAME_FAMILY_STATUS ,NAME_HOUSING_TYPE ,REGION_POPULATION_RELATIVE ,DAYS_BIRTH ,DAYS_EMPLOYED ,DAYS_REGISTRATION ,DAYS_ID_PUBLISH ,OWN_CAR_AGE ,FLAG_MOBIL ,FLAG_EMP_PHONE ,FLAG_WORK_PHONE ,FLAG_CONT_MOBILE ,FLAG_PHONE ,FLAG_EMAIL ,OCCUPATION_TYPE ,CNT_FAM_MEMBERS ,REGION_RATING_CLIENT ,REGION_RATING_CLIENT_W_CITY ,WEEKDAY_APPR_PROCESS_START ,HOUR_APPR_PROCESS_START ,REG_REGION_NOT_LIVE_REGION ,REG_REGION_NOT_WORK_REGION ,LIVE_REGION_NOT_WORK_REGION ,REG_CITY_NOT_LIVE_CITY ,REG_CITY_NOT_WORK_CITY ,LIVE_CITY_NOT_WORK_CITY ,ORGANIZATION_TYPE ,EXT_SOURCE_1 ,EXT_SOURCE_2 ,EXT_SOURCE_3 ,APARTMENTS_AVG ,BASEMENTAREA_AVG ,YEARS_BEGINEXPLUATATION_AVG ,YEARS_BUILD_AVG ,COMMONAREA_AVG ,ELEVATORS_AVG ,ENTRANCES_AVG ,FLOORSMAX_AVG ,FLOORSMIN_AVG ,LANDAREA_AVG ,LIVINGAPARTMENTS_AVG ,LIVINGAREA_AVG ,NONLIVINGAPARTMENTS_AVG ,NONLIVINGAREA_AVG ,APARTMENTS_MODE ,BASEMENTAREA_MODE ,YEARS_BEGINEXPLUATATION_MODE ,YEARS_BUILD_MODE ,COMMONAREA_MODE ,ELEVATORS_MODE ,ENTRANCES_MODE ,FLOORSMAX_MODE ,FLOORSMIN_MODE ,LANDAREA_MODE ,LIVINGAPARTMENTS_MODE ,LIVINGAREA_MODE ,NONLIVINGAPARTMENTS_MODE ,NONLIVINGAREA_MODE ,APARTMENTS_MEDI ,BASEMENTAREA_MEDI ,YEARS_BEGINEXPLUATATION_MEDI ,YEARS_BUILD_MEDI ,COMMONAREA_MEDI ,ELEVATORS_MEDI ,ENTRANCES_MEDI ,FLOORSMAX_MEDI ,FLOORSMIN_MEDI ,LANDAREA_MEDI ,LIVINGAPARTMENTS_MEDI ,LIVINGAREA_MEDI ,NONLIVINGAPARTMENTS_MEDI ,NONLIVINGAREA_MEDI ,FONDKAPREMONT_MODE ,HOUSETYPE_MODE ,TOTALAREA_MODE ,WALLSMATERIAL_MODE ,EMERGENCYSTATE_MODE ,OBS_30_CNT_SOCIAL_CIRCLE ,DEF_30_CNT_SOCIAL_CIRCLE ,OBS_60_CNT_SOCIAL_CIRCLE ,DEF_60_CNT_SOCIAL_CIRCLE ,DAYS_LAST_PHONE_CHANGE ,FLAG_DOCUMENT_2 ,FLAG_DOCUMENT_3 ,FLAG_DOCUMENT_4 ,FLAG_DOCUMENT_5 ,FLAG_DOCUMENT_6 ,FLAG_DOCUMENT_7 ,FLAG_DOCUMENT_8 ,FLAG_DOCUMENT_9 ,FLAG_DOCUMENT_10 ,FLAG_DOCUMENT_11 ,FLAG_DOCUMENT_12 ,FLAG_DOCUMENT_13 ,FLAG_DOCUMENT_14 ,FLAG_DOCUMENT_15 ,FLAG_DOCUMENT_16 ,FLAG_DOCUMENT_17 ,FLAG_DOCUMENT_18 ,FLAG_DOCUMENT_19 ,FLAG_DOCUMENT_20 ,FLAG_DOCUMENT_21 ,AMT_REQ_CREDIT_BUREAU_HOUR ,AMT_REQ_CREDIT_BUREAU_DAY ,AMT_REQ_CREDIT_BUREAU_WEEK ,AMT_REQ_CREDIT_BUREAU_MON ,AMT_REQ_CREDIT_BUREAU_QRT ,AMT_REQ_CREDIT_BUREAU_YEAR ,

#### 截取部分資料

In [7]:
app_train.iloc[10:30,0:80]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI
10,100014,0,Cash loans,F,N,Y,1,112500.000,652500.0,21177.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,100015,0,Cash loans,F,N,Y,0,38419.155,148365.0,10678.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,100016,0,Cash loans,F,N,Y,0,67500.000,80865.0,5881.5,...,NaN,0.0000,0.0833,NaN,0.9811,NaN,NaN,0.00,0.2069,0.1667
13,100017,0,Cash loans,M,Y,N,1,225000.000,918468.0,28966.5,...,0.0000,0.0000,0.1489,0.0973,0.9806,0.7383,0.0585,0.16,0.1379,0.3333
14,100018,0,Cash loans,F,N,Y,0,189000.000,773680.5,32778.0,...,0.0195,0.1060,0.3529,0.1335,0.9985,0.9799,0.1150,0.40,0.1724,0.6667
15,100019,0,Cash loans,M,Y,Y,0,157500.000,299772.0,20160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,100020,0,Cash loans,M,N,N,0,108000.000,509602.5,26149.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,100021,0,Revolving loans,F,N,Y,1,81000.000,270000.0,13500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,100022,0,Revolving loans,F,N,Y,0,112500.000,157500.0,7875.0,...,0.0000,0.0000,0.0281,0.0617,0.9881,0.8390,0.0018,0.00,0.1034,0.0833
19,100023,0,Cash loans,F,N,Y,1,90000.000,544491.0,17563.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,100024,0,Revolving loans,M,Y,Y,0,135000.000,427500.0,21375.0,...,0.0000,0.0000,0.0729,0.0801,0.9781,0.7048,NaN,0.00,0.1379,0.1667
21,100025,0,Cash loans,F,Y,Y,1,202500.000,1132573.5,37561.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,100026,0,Cash loans,F,N,N,1,450000.000,497520.0,32521.5,...,0.0078,0.0047,0.0916,0.0795,0.9786,0.7115,0.0120,0.00,0.2069,0.1667
23,100027,0,Cash loans,F,N,Y,0,83250.000,239850.0,23850.0,...,0.0000,0.0000,0.1457,0.0848,0.9876,0.8323,0.1071,0.14,0.1207,0.3750
24,100029,0,Cash loans,M,Y,N,2,135000.000,247500.0,12703.5,...,0.0000,0.0045,0.1447,0.1455,0.9861,0.8121,0.0214,0.00,0.3103,0.1667
25,100030,0,Cash loans,F,N,Y,0,90000.000,225000.0,11074.5,...,0.0000,0.0000,0.0729,0.0147,0.9781,0.7048,0.0010,0.00,0.1379,0.1667
26,100031,1,Cash loans,F,N,Y,0,112500.000,979992.0,27076.5,...,NaN,0.0000,0.0167,0.0089,0.9732,NaN,NaN,0.00,0.0690,0.0417
27,100032,0,Cash loans,M,N,Y,1,112500.000,327024.0,23827.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,100033,0,Cash loans,M,Y,Y,0,270000.000,790830.0,57676.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,100034,0,Revolving loans,M,N,Y,0,90000.000,180000.0,9000.0,...,0.0078,0.0065,0.1520,0.0838,0.9831,0.7719,0.0189,0.16,0.1379,0.3333

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子